<h2>SsoController#index</h2>

<span>
	<a href="/sso/logout">退出</a>
</span>

<ul>
<li>ret =  <%= @userInfo['ret'] %></li>
<li>id =  <%= @userInfo['id'] %></li>
<li>username =  <%= @userInfo['username'] %></li>
<li>cname =  <%= @userInfo['cname'] %></li>
<li>phone =  <%= @userInfo['phone'] %></li>
<li>email =  <%= @userInfo['email'] %></li>
<li>warn_email =  <%= @userInfo['warn_email'] %></li>
<li>code =  <%= @userInfo['code'] %></li>
<li>rand =  <%= @userInfo['rand'] %></li>
<li>deadtime =  <%= @userInfo['deadtime'] %></li>
<li>level =  <%= @userInfo['level'] %></li>
<li>return_url =  <%= @userInfo['return_url'] %></li>
</ul>